<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="SportMatchy Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">../includes</directory>
            <directory suffix=".php">../api</directory>
            <directory suffix=".php">../pages</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_DATABASE" value="sportmatchy_test"/>
    </php>
</phpunit> 